<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/css/main.css">
  </head>
  <body>
    <ul class="nav justify-content-between bg-primary fixed-top nav-pills" id="nav">
      <li class="nav-item">
        <div class="btn-group btn-group-sm nav-button-sm" role="group">
          <button type="button" class="btn btn-secondary" id="open-file"  v-on:click="open"><i class="fa fa-folder-open"></i></button>
          <button type="button" class="btn btn-secondary" id="save-file"  v-on:click="save"><i class="fa fa-save"></i></button>
          <button type="button" class="btn btn-secondary" id="rundb"  v-on:click="rundb"><i class="fa fa-database"></i></button>
          <select class="btn btn-secondary" id="categorySelect" @change="changeCategory" v-model="selectedCategory">
            <option v-for="category in categories" :value="category">{{ category }}</option>
          </select>
        </div>
      </li>
      <li class="nav-item">
        <div class="btn-group btn-group-sm nav-button-sm" role="group" >
          <button type="button" class="btn btn-secondary" id="minimize-window" v-on:click="minimize"><i class="fa fa-window-minimize"></i></button>
          <button type="button" class="btn btn-secondary" id="restore-window"  v-on:click="restore"  v-if="maximized"><i class="fa fa-window-restore"></i></button>
          <button type="button" class="btn btn-secondary" id="maximize-window" v-on:click="maximize" v-else="maximized"><i class="fa fa-window-maximize"></i></button>
          <button type="button" class="btn btn-secondary" id="close-window"    v-on:click="close"><i class="fa fa-close"></i></button>
        </div>
      </li>
    </ul>
    <main role="main" class="container" id="main">
      <table class="table table-hover table-sm table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col" v-for="column in columns" :id="column.name">{{column.name}}</th>
            </tr>
            </thead>
            <tbody>
              <tr v-for="row in rows">
                <td v-for="column in row">{{column}}</td>
              </tr>
            </tbody>
      </table>
    </main>
    <script>
    // You can also require other files to run in this process
    
    var $ = require('jquery');
    window.$ = $;
    require('bootstrap');
    require('./renderer.js');
    </script>
  </body>
</html>
