#close-window:hover {
    background-color: rgb(180, 50, 50);
    color: white;
}

#nav {
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-app-region: drag !important;
}
.btn {
    -webkit-user-select: auto !important;
    user-select: auto !important;
    -webkit-app-region: no-drag !important;
}

#main {
    padding-top: 50px;
}

.nav-button-sm {
    margin: 5px;
}
/* Body Border */
body:before, body:after {
    content: "";
    position: fixed;
    background-color: #007bff;
    left: 0;
    right: 0;
    height: 2px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 2px solid #007bff;
    border-right: 2px solid #007bff;
    height: auto;
}